;; Tumblr Dashboard RSS settings
;; note: single quotes might break, but double quotes or no quotes is fine 

[tumblr]
email = "user@example.com"
password = "password"

[feed]
title = "My tumbler Dashboard Feed"
link = http://tumblr.com/dashboard
description = "My tumbler dashboard feed"
